.star {
    position: relative;  
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
    outline: none !important;
  }
  .full {
    color: #007bff;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #007bff;
  }

.height-100{
  height: calc(100vh - 160px);
  overflow-y: auto;
}
.f-14{
  font-size: 14px;
}

h4.card-header{
  font-size: 17px;
}